---
import { markdownify } from "../lib/utils/textConverter";
import Button from '../components/button.tsx'
import "../assets/main.css";
import ChevronRight from "../icons/chevronRight.tsx"

const videosection_heroimage = '/data_cabling_switch.jpg';
const videosection_videotitle = 'What are Large Language Models (LLMs)?';
const videosection_videourl = 'https://www.youtube.com/embed/iR2O2GPbB0E';
const videosection_description = "Learn about Large Language Models (LLMs), a powerful neural network that enables computers to process and generate language better than ever before. Dale and Nikita share how LLMs work and how you can interact with them via prompts."
const video_section_style = {
  backgroundImage:
        "url('"+videosection_heroimage+"')",
    width: "100%",       
    minHeight: "35vh",
    padding: "5vmin",
    alignItems: "center",
    justifyContent: "center",
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat"
};
const case_studies_heading = "Case Studies"
const case_studies_subheading = "Learn from others experiences"
const case_studies_description = "Use these examples to find the best way forward for you and your project."
const case_studies_category = "Knowledge"
const case_studies_items = [
	{
		"case_study_title": "Streamlining Warehouse Operations with Robotics",
		"case_study_subheading": "Results",
		"case_study_image": "/warehouse-in-logistic-center-with-automated-guided.jpg",
		"case_study_buttontext": "Learn More",
		"case_study_slug": "streamlining-operations-for-luxury-car-maker"
	},
	{
		"case_study_title": "Customer tracking metrics lead to increased 4th Qtr sales",
		"case_study_subheading": "Results",
		"case_study_image": "/young-woman-in-a-clothing-store-chooses-new-jeans.jpg",
		"case_study_buttontext": "Learn More",
		"case_study_slug": "digitizing-processes-for-global-automaker"
	},
	{
		"case_study_title": "E-mobility Solutions for EV Manufacturer",
		"case_study_subheading": "Results",
		"case_study_image": "/interior-dashboard-with-a-modern-interface-design.jpg",
		"case_study_buttontext": "Learn More",
		"case_study_slug": "e-mobility-solutions-for-ev-manufacturer"
  }
]
const related_articles_heading = "Recently published Pulse insights."
const related_articles_subheading = "Industry Intelligence"
const related_articles_description = "Read the latest Pulse articles and industry insights."
const related_articles_category = "Industry Intelligence"
const related_articles_items = [
	{
		"related_article_title": "Digitally Transforming Businesses with AWS Cloud",
		"related_article_subheading": "Article",
		"related_article_image": "/data_operations_boardroom.jpg",
		"related_article_buttontext": "Read Pulse",
		"related_article_slug": "digitally-transforming-businesses-with-aws-cloud",
	},
	{
		"related_article_title": "Innovative Business Solutions with Maven's AWS Cloud",
		"related_article_subheading": "Article",
		"related_article_image": "/data_operations_boardroom.jpg",
		"related_article_buttontext": "Read Pulse",
		"related_article_slug": "innovative-business-solutions-with-maven's-aws-cloud",
	},
	{
		"related_article_title": "Boosting Operational Efficiency with AWS Cloud Services",
		"related_article_subheading": "Article",
		"related_article_image": "/data_operations_boardroom.jpg",
		"related_article_buttontext": "Read Pulse",
		"related_article_slug": "boosting-operational-efficiency-with-aws-cloud-services",
	},
]
const heading = "Real World Examples"
const sub_heading_display = "CASE STUDIES"
const banner_style = {
    backgroundImage:
        "url(/conntected_intelligence_womanlaptop.jpg)",
};

const { casestudies } = Astro.props;
---

<section class="detailedpage_banner_topper">    
    <div class="container">
      <div class="wrapper">
        <div class="detailedpage_banner_topper_categoryheading">
      <p>Knowledge</p>
    </div>
    <ChevronRight />

    <div class="detailedpage_banner_topper_mainheading">
        Case Studies
      </div>
      </div>
    </div>
  </section>
  <section class="bg-hero" style={banner_style}>   
    <div class="container">
      <div class="contentWrapper">
          <p class="subHeading">{sub_heading_display}</p>
          <h1 class="heading">{heading}</h1>
        </div>
      </div>
    </div>
  </section>
    <section class="caseStudies pulse">
    <div class="container ">      
      <div class="projectWrapper">
        {
          casestudies.map((item:any, index:any) => (
              <div class="project">
            <a href={"casestudies/"+ item.slug}>
                <div class="imgWrapper">
                  <img src={item.data.image} />                  
                </div>  
                 <h2 class="title">
                  {item.data.heading}
                </h2> 
                <h4 class="text">
                  {item.data.category}
                </h4>                                        
                <Button className="btn" text="Read More" href={"../casestudies/"+item.slug} />   
            </a>
              </div>

          ))
        }
      </div>      
    </div>
  </section>

  
 <section class="videoSection">
  <div class="container">
    <div class="gridWrapper">      
      <div class="leftWrapper">
          <h2 class="heading">{videosection_videotitle}</h2>
          <p class="desc">{videosection_description}</p>
      </div>
        <div class="right">
          <iframe width="420" height="315" src={videosection_videourl} />
        </div>
    </div>
  </div>
</section>
  <section class="caseStudies">
    <div class="container">
        <h2 class="sectionHeading">{case_studies_heading}</h2>
        <h4 class="subHeading">
          {case_studies_subheading}          
        </h4>  
        <p class="desc">{case_studies_description}</p>
      <div class="projectWrapper">
        {
          case_studies_items.map((item:any, index:any) => (                      
            <div class="project">
               <div class="imgWrapper">
                <img src={item.case_study_image} />                  
              </div>  
                <h2 class="title">
                {item.case_study_title}
              </h2>               
              <h4 class="text">
                {item.case_study_subheading}
              </h4>
            
              <Button className="btn" text={item.case_study_buttontext}
                 href={"../casestudies/"+ item.case_study_slug}  />                       
            </div>
          ))
        }
      </div>  
    </div>
  </section>



