---
import ChevronRight from "../icons/chevronRight.tsx"
import Button from '../components/button.tsx'



const { glossary } = Astro.props;
// console.log(glossary);
const { 
  id, draft, name, category, description, 
  key_words, content, related_articles_heading,
  related_articles_subheading, related_articles_description,
  related_articles_category, related_articles_items} = glossary.data;


const { Content } = await glossary.render();
const banner_img = {
    backgroundImage: "url('/laptop_keyboard_typing.jpg')",
};
const category_name = "Knowledge Base";
const category_url = "/glossaries";
const title = "Glossary";
const heading = "Mavens Glossary";
const sub_heading_display = "Knowledge Base";
// const category_url = "/"+category;
// const category_name =category[0].toUpperCase()+category.slice(1);
// const sub_heading_display = sub_heading.toUpperCase()
// const featured_article1_link = "articles"+featured_article1_slug;
// const featured_article2_link = "articles"+featured_article2_slug;
// const expertise_table_colours = ["#7800ff","#8c2bfa", "#a14ffe", "#b679fb", "#d3acff"];
// const expertise_subheading_display = expertise_subheading.toUpperCase();
// const casestudies_subheading_display = case_studies_subheading.toUpperCase();
---
<section class="detailedpage_banner_topper">    
    <div class="container">
      <div class="wrapper">
        <div class="detailedpage_banner_topper_categoryheading">
      <a href={category_url}>{category_name}</a>
    </div>
    <ChevronRight />

    <div class="detailedpage_banner_topper_mainheading">
        Pulse Articles
      </div>
      </div>
    </div>
  </section>
  <section class="bg-hero" style={banner_img}>   
    <div class="container">
      <div class="contentWrapper">
          <p class="subHeading">{sub_heading_display}</p>
          <h1 class="heading">{name}</h1>
        </div>
      </div>
    </div>
  </section>


<section class="section">
  <div class="detailedpage_valueprop">    
      <!-- <p>{markdownify(content)}</p> -->
      <p>{content}</p>
   </div>
</section>

	  <section class="caseStudies">
    <div class="container">
        <h2 class="sectionHeading">{related_articles_heading}</h2>
        <h4 class="subHeading">
          {related_articles_subheading}          
        </h4>  
        <p class="desc">{related_articles_description}</p>
      <div class="projectWrapper">
        {
          related_articles_items.map((item:any, index:any) => (                      
            <div class="project">
               <div class="imgWrapper">
                <img src={item.related_article_image} />                  
              </div>  
                <h2 class="title">
                {item.related_article_title}
              </h2>               
              <h4 class="text">
                {item.related_article_subheading}
              </h4>
            
              <Button className="btn" text={item.related_article_buttontext}
                 href={"../insights/"+ item.related_article_slug}  />                       
            </div>
          ))
        }
      </div>  
    </div>
  </section>


